In [ ]:
import pandas as pd
import seaborn as sns
import re
import string
from string import punctuation
import nltk

from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from gensim.models import Word2Vec
nltk.download('punkt')
nltk.download("stopwords")
import matplotlib.pyplot as plt
import numpy as np
from sklearn.cluster import KMeans
from scipy.spatial import distance
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.callbacks import EarlyStopping

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/drugsComTest_raw.csv")

In [ ]:
df=pd.DataFrame(data=(data["drugName"][0:100],data["review"][0:100]))
df=df.T
for i in df.index:
  df['review'][i]=df['review'][i].replace("&#039;","'")
  df['review'][i]=df['review'][i].replace(",","")
  df['review'][i]=df['review'][i].replace("\\","")
  df['review'][i]=df['review'][i].replace("\"","")
df

                            drugName                                             review
0                        Mirtazapine  I've tried a few antidepressants over the year...
1                         Mesalamine  My son has Crohn's disease and has done very w...
2                            Bactrim                        Quick reduction of symptoms
3                           Contrave  Contrave combines drugs that were used for alc...
4                    Cyclafem 1 / 35  I have been on this birth control for one cycl...
..                               ...                                                ...
95                            Humira  I really like this medication! It helps me wit...
96  Insulin inhalation, rapid acting                                           Horrible
97       Acetaminophen / hydrocodone  I have been prescribed Vicodin 5/500s for over...
98                   Phenazopyridine  I use Azo-Standard whenever I have issues with...
99                    Levonorgestrel  I went in to have my Skyla placed yesterday mo...

[100 rows x 2 columns]

In [ ]:
df2 = df.groupby("drugName")
df_new = df2["review"].apply(list)
df_new = df_new.reset_index()
df_new.head()

                        drugName                                             review
0    Acetaminophen / hydrocodone  [Was very beneficial when taken with a muscle ...
1                          Actos  [Have been on Actos for almost a year gained 2...
2                        Afrezza  [Since I was on the trials I put 6+ months but...
3  Aluminum chloride hexahydrate  [So in high school over ten years ago I starte...
4                         Ambien  [Ditto on rebound sleepless when discontinued....

In [ ]:
def get_text_processing(text):
    stpword = stopwords.words('english')
    no_punctuation = [char for char in text if char not in string.punctuation]
    no_punctuation = ''.join(no_punctuation)
    return ' '.join([word for word in no_punctuation.split() if word.lower() not in stpword])

In [ ]:
df_new['rev'] = df_new['review'].apply(get_text_processing)
df_new.head()

                        drugName  ...                                                rev
0    Acetaminophen / hydrocodone  ...  beneficial taken muscle relaxer extreme pain n...
1                          Actos  ...  Actos almost year gained 24 pounds swelling ha...
2                        Afrezza  ...  Since trials put 6+ months back Afrezza 2 week...
3  Aluminum chloride hexahydrate  ...  high school ten years ago started sweat really...
4                         Ambien  ...  Ditto rebound sleepless discontinued. done str...

[5 rows x 3 columns]

In [ ]:
def Summarizer(test):
  df_new["review"][test]
  sentence = sent_tokenize(str(df_new["review"][test]))
  temp=df_new["rev"][test].split(".")
  all_words = [i for i in temp]
  model = Word2Vec([all_words], min_count=1,size= 300)
  sent_vector=[]
  temp=df_new["rev"][test].split(".")
  for i in temp:
      plus=0
      for j in i.split("."):
          plus+= model.wv[j]
      plus = plus/len(i.split("."))
      sent_vector.append(plus)
  n_clusters = 1
  kmeans = KMeans(n_clusters, init = 'k-means++', random_state = 42)
  y_kmeans = kmeans.fit_predict(sent_vector)
  my_list=[]
  for i in range(n_clusters):
      my_dict={}
    
      for j in range(len(y_kmeans)):
        
          if y_kmeans[j]==i:
              my_dict[j] =  distance.euclidean(kmeans.cluster_centers_[i],sent_vector[j])
      min_distance = min(my_dict.values())
      my_list.append(min(my_dict, key=my_dict.get))
 
  print(my_list)                          
  for i in sorted(my_list):
      print(sentence[i])

In [ ]:
test=5
df_new["review"][test]
Summarizer(5)

[3]
I'm still a little sleepy during the day but I know that will get better.