In [2]:
import pandas as pd
import seaborn as sns
import re
import string
from string import punctuation
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords")
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.callbacks import EarlyStopping

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
data=pd.read_csv("/content/drive/MyDrive/drugsComTest_raw.csv")

In [ ]:
df=pd.DataFrame(data=(data["drugName"],data["review"]))
df=df.T
for i in df.index:
  df['review'][i]=df['review'][i].replace("&#039;","\'")
df

              drugName                                             review
0          Mirtazapine  "I've tried a few antidepressants over the yea...
1           Mesalamine  "My son has Crohn's disease and has done very ...
2              Bactrim                      "Quick reduction of symptoms"
3             Contrave  "Contrave combines drugs that were used for al...
4      Cyclafem 1 / 35  "I have been on this birth control for one cyc...
...                ...                                                ...
53761        Tamoxifen  "I have taken Tamoxifen for 5 years. Side effe...
53762     Escitalopram  "I've been taking Lexapro (escitaploprgram) si...
53763   Levonorgestrel  "I'm married, 34 years old and I have no kids....
53764       Tapentadol  "I was prescribed Nucynta for severe neck/shou...
53765        Arthrotec                                      "It works!!!"

[53766 rows x 2 columns]

In [ ]:
def get_text_processing(text):
    stpword = stopwords.words('english')
    no_punctuation = [char for char in text if char not in string.punctuation]
    no_punctuation = ''.join(no_punctuation)
    return ' '.join([word for word in no_punctuation.split() if word.lower() not in stpword])

In [ ]:
df['rev'] = df['review'].apply(get_text_processing)
df.head()

          drugName  ...                                                rev
0      Mirtazapine  ...  Ive tried antidepressants years citalopram flu...
1       Mesalamine  ...  son Crohns disease done well Asacol complaints...
2          Bactrim  ...                           Quick reduction symptoms
3         Contrave  ...  Contrave combines drugs used alcohol smoking o...
4  Cyclafem 1 / 35  ...  birth control one cycle reading reviews type s...

[5 rows x 3 columns]

In [ ]:
name=[]
for i in df["drugName"].unique():
  name.append(i)
print(len(name))

2637

In [ ]:
df_new=pd.DataFrame(df.groupby("drugName"))
df_new.head()

                                      0                                                  1
0                            A / B Otic          drugName  ...                         ...
1  Abacavir / dolutegravir / lamivudine                                     drugName  ....
2                 Abacavir / lamivudine                      drugName  ...             ...
3                             Abatacept          drugName  ...                         ...
4                               Abilify        drugName  ...                           ...

In [ ]:
#df_new=df_new.drop(1)
df_new=df

                          0                                                  1
0                A / B Otic          drugName  ...                         ...
2     Abacavir / lamivudine                      drugName  ...             ...
3                 Abatacept          drugName  ...                         ...
4                   Abilify        drugName  ...                           ...
5          Abilify Discmelt                drugName  ...                   ...
...                     ...                                                ...
2632                ZzzQuil        drugName                                ...
2633  depo-subQ provera 104                      drugName  ...             ...
2634                   ella        drugName  ...                           ...
2635                 femhrt        drugName  ...                           ...
2636               pHisoHex         drugName  ...                          ...

[2636 rows x 2 columns]

In [1]:
df2 = df.groupby("drugName")
df3 = df2["rev"].apply(list)
df3 = df3.reset_index()

print(df3)

NameError: ignored